/* font-area start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-area end */

/* common-area style start*/
body
{
    background-color: #f3ecdd;
    font-family: 'Poppins', sans-serif;
}
/* common-area style end */
/* main-area  start*/

/* search result */
.result
{
    padding: 15px;
    min-width: 280px;
    max-width: 540px;
    margin:30px  auto;
    text-align: center;
    border: 2px solid rgba(70, 59, 59, 0.466);
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;


}
/* card style */
.card{
    margin: 20px 10px;
    background-color: #f9f9f9;
    max-width: 540px;
    box-shadow: 10px 10px 10px gray;
}
/* card style end */
/* main-area end*/

